//COLORS
$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-lcyan: hsl(179, 47%, 52%);
$color-primary-bYellow: hsl(71, 73%, 54%);

$color-lGray: hsl(204, 43%, 93%);
$color-gBlue: hsl(218, 22%, 67%);

//FONT
$font-default: 1.6rem;
